<div class="container justify-content-center px-5 w-50">
  <div class="row">
    <h2>What's your question?</h2>
  </div>
  <div class="row">
      <form action="/answer" data-turbo="false">
    <div class="my-3">
      <input class="form-control" type="text" name="question">
    </div>
  <input class="btn btn-primary" type="submit" value="Ask!">
  </form>
  </div>
</div>
